# Recommended: Python 3.11.9
# Prerequisites: Install Poppler and Tesseract OCR from Google, then add them to your system’s environment variables.
streamlit
numpy
opencv-python
torch==2.5.1
torchvision
pytesseract
pdf2image
scikit-learn
Pillow
huggingface-hub
doclayout-yolo
poppler-utils
ultralytics
python-multipart
fastapi 
uvicon